@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:hsl(212, 45%, 89%);
}
.container-flex{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color:  hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 15px;
}

.card h1, p{
    max-width: 300px;
    text-align: center;
    font-family: "Outfit", sans-serif;
}
.card p{
    font-size: 15px;
    font-weight: 400;
    padding: 20px 10px;
    line-height: 1.5;
    color: hsl(216, 15%, 48%);
}

.card h1{
    font-weight: 700;
    font-size: 1.5em;
    padding: 20px 0px 0px 0px;
    color:  hsl(218, 44%, 22%) 
}

.card img{
    width: 300px;
    border-radius: 10px;
    display: block;
    margin: auto;
}
footer{
    text-align: center;
    font-family: "Outfit", sans-serif;
}
@media (max-width: 500px) {

    footer{
        display: flex;
        justify-content: center;
    }
    .attribution{
        max-width: 300px;
        line-height: 1.5;
        font-size: 14px;
    }
}